.leaflet-container {
    background: #000;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.leaflet-control-search .search-tip {
	white-space: nowrap;
	padding: 0 20px 0 0;
}
.leaflet-control-search .search-tip img {
	display: inline-block;
	clear: left;
	padding: 0px;
}

.leaflet-smart-layer-control {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: normal 16px/1 "Menomonia", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-radial-gradient(100% -20%, farthest-corner, rgba(64,64,64,1) 0, rgba(86,86,86,0.86) 74%, rgba(0,0,0,0.01) 97%, rgba(0,0,0,0.01) 100%);
  background: -moz-radial-gradient(100% -20%, farthest-corner, rgba(64,64,64,1) 0, rgba(86,86,86,0.86) 74%, rgba(0,0,0,0.01) 97%, rgba(0,0,0,0.01) 100%);
  background: radial-gradient(farthest-corner at 100% -20%, rgba(64,64,64,1) 0, rgba(86,86,86,0.86) 74%, rgba(0,0,0,0.01) 97%, rgba(0,0,0,0.01) 100%);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}
/*
.layermanager-list-group-checkbox {
    opacity: 0;
    position: absolute;   
    width: 32px;
    height: 32px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


.layermanager-list-group-checkbox :before {
    content: ' ';
}

.layermanager-list-group-checkbox:checked :before {
    content: '&#x2714;';
}*/


/* .squaredThree */
.leaflet-smart-layer-control-list-group {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}